body{
    background-color: rgb(192, 156, 56);
    font-style: italic;
}
.main{
    width: 90%;
    margin: 20px auto;
    border: 1px solid blue;
    padding: 20px;
    background-color: rgb(135, 222, 142);
}
h2{
    margin-top: 0px;
    background-color: burlywood;
    box-shadow: 0px 5px 5px blue;
}
.encabezado{
    background-color: darkcyan;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    box-shadow: 0px 5px 10px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
figure{
    width: 100px;
    height: 80px;
    margin: 0;
}
img{
    width: inherit;
    height: inherit;
}
h3{
    border: 1px solid yellow;
    background-color: rgb(170, 165, 229);
    box-shadow: 0px 5px 10px black;
}
ul{
    margin: 0;
    list-style: none;
    display: flex;
}
a{
    margin-right: 10px;
    text-decoration: none;
    color: white;
}